<head>
    <link href="~/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    @model Lanche
</head>

<div class="row center" style="width:90vw ">
    <div class="row card" style="height: auto;max-height:680px;">
        <div class="card-img">
            <img src="@Model.ImagemUrl" class="img-fluid" asp-append-version="true" alt="lanche">
        </div>

        <div class="container-lanches-descricao column" style="height: auto;">
            <div>
                <h3 class="text-center lanche-titulo">
                    <b>@Model.Nome</b>
                </h3>

                <h4 class="text-center lanche-preco"><b>Preço : </b>@Model.Preco.ToString("c")</h4>

                <p class="text-center lanche-descricao" style="height: auto;">@Model.DescricaoDetalhada</p>
            </div>

            <div>
                <div class="button text-center lanche-botao">
                    <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra"
                       asp-action="AdicionarItemNoCarrinhoCompra" asp-route-lancheId="@Model.LancheId">
                        Adicionar ao carrinho
                    </a>
                </div>

                <div class="button text-center lanche-botao">
                    <a asp-controller="Lanche" asp-action="List" class="btn btn-outline-info">
                        Ver todos os lanches
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
