<head>
    <link href="~/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

@model Lanche

<div class="card row">
    <div class="card-img">
        <a class="portfolio-box" asp-action="List" asp-controller="Lanche">
            <p><img src="@Model.ImagemUrl" class="img-fluid" asp-append-version="true"></p>
        </a>
    </div>

    <div class="container-lanches-descricao column">
        <div>
            <h3 class="text-center lanche-titulo">
                <a asp-controller="Lanche" asp-action="Details"
                   asp-route-lancheId="@Model.LancheId"><b>@Model.Nome</b></a>
            </h3>

            <h4 class="text-center"><b>Preço : </b>@Model.Preco.ToString("c")</h4>

            <p class="text-center">@Model.DescricaoCurta</p>
        </div>

        <div>
            <p class="button text-center">
                <a class="btn btn-primary card-button card-button-hover " id="cartButton" asp-controller="CarrinhoCompra"
                   asp-action="AdicionarItemNoCarrinhoCompra" asp-route-LancheId="@Model.LancheId">
                    Incluir no Carrinho
                </a>
            </p>
        </div>
    </div>
</div>